<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FishingBuddy</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FishingBuddy.styles.css" asp-append-version="true" />
</head>
<body class="fb-shell">
    <div class="fb-site-illustration" aria-hidden="true"></div>
    <div class="fb-site-layer">
        <header>
            <nav class="navbar navbar-expand-lg fb-navbar border-bottom box-shadow">
                <div class="container-fluid">
                    <a class="navbar-brand fb-brand" asp-area="" asp-controller="Home" asp-action="Index">FishingBuddy</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="FishingSpot" asp-action="Index">Ribolovna mjesta</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="Fish" asp-action="Index">Ribe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="CatchRecord" asp-action="Index">Evidencija ulova</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="Bait" asp-action="Index">Mamci</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="Technique" asp-action="Index">Tehnike</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-area="" asp-controller="User" asp-action="Index">Ribari</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fb-nav-link px-2" asp-controller="Home" asp-action="Privacy">Privatnost</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @await Html.PartialAsync("_Breadcrumb")
        <div class="container fb-main-shell">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
